<section class="pt-20 pb-5">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-7xl mx-auto">
      <owl-carousel-o [options]="mainSliderCustomOptions">
        <ng-template carouselSlide>
          <div class="relative overflow-hidden rounded-lg">
            <img 
              src="/assets/images/img1.avif" 
              alt="main slider image" 
              class="w-full h-64 sm:h-80 md:h-96 lg:h-[500px] object-cover"
            >
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="relative overflow-hidden rounded-lg">
            <img 
              src="/assets/images/img2.avif" 
              alt="main slider image" 
              class="w-full h-64 sm:h-80 md:h-96 lg:h-[500px] object-cover"
            >
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="relative overflow-hidden rounded-lg">
            <img 
              src="/assets/images/img3.avif" 
              alt="main slider image" 
              class="w-full h-64 sm:h-80 md:h-96 lg:h-[500px] object-cover"
            >
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
