<footer class="bg-gray-200 py-10">
  <div class="w-11/12 mx-auto">
    <h2 class="m-0 text-2xl">Get The FreshCart App</h2>
    <p class="text-gray-500 text-sm">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <div class="flex items-center gap-3 text-nowrap py-2">
       <div class="relative z-0 w-full mb-5 group">
        <input
          type="email"
          name="floating_email"
          id="floating_email"
          class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-green-600/50 appearance-none focus:outline-none focus:ring-0 focus:border-green-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_email"
          class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-left peer-focus:start-0 peer-focus:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
          >Email address</label
        >
      </div>
      <button class="btn-main">Share App Link</button>
    </div>

    <div class="pay-details md:flex justify-between items-center my-5">
      <div class="flex items-center gap-2">
        <h3 class="text-sm m-0">Payment partners</h3>
        <img src="/assets/images/amazon-pay.png" width="50px" alt="" />
        <img src="/assets/images/American-Express-Color.png" width="50px" alt="" />
        <img src="/assets/images/paypal.png" width="50px" alt="" />
        <img src="/assets/images/mastercard.webp" width="50px" alt="" />
      </div>

      <div class="flex items-center gap-2">
        <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
        <img src="/assets/images/get-google-play.png" width="100px" alt="" />
        <img src="/assets/images/get-apple-store.png" width="100px" alt="" />
      </div>
    </div>
  </div>
</footer>